<h1>PoC</h1>

<ria-poc-input></ria-poc-input>

<ria-poc-button>Some text</ria-poc-button>

<ria-poc-accordion [singleOpen]="true">
  <ria-poc-accordion-item title="Super simple accordion">
    <ng-template riaPocAccordionContent>
      <p>Some content here. Yes! In your face, Gandhi! I'll get my kit! And I'd do it again! And perhaps a third time! But that would be it. What are you hacking off? Is it my torso?! 'It is!' My precious torso! OK, if everyone's finished being stupid.</p>
    </ng-template>
  </ria-poc-accordion-item>
  <ria-poc-accordion-item title="Another item with details" details="Viimati muudetud 23.12.2023 | Teksti koostas Justiitsministeerium">
    <ng-template riaPocAccordionContent>
      Qua qua
    </ng-template>
  </ria-poc-accordion-item>
  <ria-poc-accordion-item title="Yet another item, but this time disabled with a very long text" [disabled]="true">
    <ng-template riaPocAccordionContent>
      Howdy!
    </ng-template>
  </ria-poc-accordion-item>
  <ria-poc-accordion-item title="And until then, I can never die? Noooooo! I can explain. It's very valuable. Oh, all right, I am. You, minion. Lift my arm. AFTER HIM! You can crush me but you can't crush my spirit! I've been there. My folks were always on me to groom myself and wear underpants. What am I, the pope? A true inspiration for the children.">
    <ng-template riaPocAccordionContent>
      One helluva content
    </ng-template>
  </ria-poc-accordion-item>
</ria-poc-accordion>
