
name: Pull-request analysis

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'npm'

    - run: npm ci
    - run: npm run build --if-present
    - run: npm run generate-icons
    - run: npm run storybook:compodoc
    - run: npx nx run ui-e2e:e2e
    - run: npx nx run storybook:build-storybook
    - run: npx axe-storybook --build-dir ./dist/storybook/storybook
